
.carousel {
    margin-bottom: 4rem;
}

.carousel-item {
    height: 32rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}